.card {
  border: 1px solid #e3e3e3;
  color: #000;
  text-decoration: none;
  transition: all 250ms ease-in;
  line-height: 2;
}

.card:hover:nth-child(even),
.card:focus:nth-child(even) {
  box-shadow: 2px 2px #e3e3e3;
  color: rgba(0,0,0,0.5);
}


.card:hover:nth-child(odd),
.card:focus:nth-child(odd) {
  box-shadow: -2px 2px #e3e3e3;
  color: rgba(0,0,0,0.5);
}

.card .card__top {
  text-align: center;
  background-color: #F5F5F5;
  border-bottom: 1px solid #e3e3e3;
}
.card .content {
  padding: 10px;
}

.card:hover:nth-child(even).no-link,
.card:focus:nth-child(even).no-link,
.card:hover:nth-child(odd).no-link,
.card:focus:nth-child(odd).no-link {
  box-shadow: 2px 2px #e3e3e3;
  color: rgba(0,0,0,1);
}


.card.full .italic {
  font-style: italic;
}

.card.full img {
  width: 100%;
  object-fit: cover;
}

.date, .title {
  padding: 10px 0;
  display: inline-block;
}


.date:before {
  content: '[';
  margin-left: 5px;
}
.date:after {
  content: '|';
  margin-left: 10px;
}

.title:before {
  content: '|';
  margin-right: 10px;
}
.title:after {
  content: ']';
  margin-right: 5px;
}
